*.8
*~

cscope.out
/autom4te.cache/
/config.log
/config.status
/inspect
/kernel-utsname
/ksplice-apply
/ksplice-create
/ksplice-obj.pl
/Ksplice.pm
/ksplice-undo
/ksplice-view
/Makefile
/objmanip
/kmodsrc/Makefile
